@import '../../utils';

.posts {
  box-sizing: border-box;
  width: min(#{rem(830px)}, 100%);
  max-width: 100%;
  margin: 0 auto;
  padding: rem(10px);

  a + a {
    margin-left: rem(20px);
  }

  h3 + p {
    margin-top: rem(10px);
    font-size: rem(18px);
  }
}

@media (min-width: 600px) {
  .posts {
    padding: rem(40px);
  }
}
