@import '../../utils';

// see https://github.com/sindresorhus/github-markdown-css/blob/gh-pages/github-markdown.css

.markdown {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.5;
  word-wrap: break-word;

  > :first-child {
    margin-top: 0 !important;
  }

  > :last-child {
    margin-bottom: 0 !important;
  }

  // Custom

  a {
    text-decoration: none;
    color: var(--link-color);

    &:hover {
      text-decoration: underline;
    }

    &:not([href]) {
      text-decoration: none;
      color: inherit;
    }
  }

  code {
    padding: rem(2px) rem(6px);
    border-radius: rem(4px);
    background: var(--code-background-color);
  }

  code,
  kbd,
  pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 1.5;
  }

  code,
  kbd {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h2,
  h3 {
    font-weight: 500;
    line-height: 1.25;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  img {
    max-width: 100%;
    margin-bottom: -0.4rem; // To remove space due to inline elements
    border-style: none;
  }

  li + li {
    margin-top: 0.25rem;
  }

  p,
  pre,
  ul {
    margin: 1.5rem 0;
  }

  pre {
    overflow-x: auto;
  }

  pre {
    padding: 0.8rem;
    background: #2b2b2b;

    code {
      padding: 0;
      border-radius: 0;
      background: none;

      overflow-wrap: break-word;
    }
  }

  ul {
    padding-left: 1.5rem;
  }
}

@include desktop {
  .markdown pre {
    border-radius: rem(4px);
  }
}

@include mobile {
  .markdown pre {
    margin-right: rem(-10px);
    margin-left: rem(-10px);
  }
}
