@import '../../utils';

.post {
  box-sizing: border-box;
  width: min(#{rem(830px)}, 100%);
  max-width: 100%;
  margin: 0 auto;
  padding: rem(10px);

  & > p:first-child > a {
    position: relative;
    padding-left: rem(25px);

    &::before {
      $size: 1.4em;

      content: '<';
      position: absolute;
      left: 0;
      top: 0.25em;
      background: var(--link-color);
      width: $size;
      height: $size;
      color: var(--background-color);
      line-height: $size * 0.99;
      font-size: 0.6em;
      border-radius: $size;
      font-weight: 500;
      padding-left: calc(#{$size} / 2 - 0.55ch);
      box-sizing: border-box;
    }
  }
}

@include desktop {
  .post {
    padding: rem(40px);
  }
}
